.results {
  padding: 80px 104px;
}

.results__container {
  max-width: 1232px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.results__title {
  margin: 0 0 64px;
  font-family: 'Roboto Slab';
  font-size: 40px;
  line-height: 46px;
  font-weight: 40;
  font-style: normal;
  color: #1A1B22;
}

.results__news {
  margin-bottom: 64px;
}

@media (max-width: 1439px) {
  .results {
    padding: 40px;
  }

  .results__container {
    max-width: 688px;
  }
}

@media (max-width: 767px) {
  .results {
    padding: 32px 16px;
  }

  .results__container {
    max-width: 288px;
  }
}