.results {
  background-color: #F5F6F7;
  padding: 80px 104px;
}

.results__container {
  max-width: 1232px;
  width: 100%;
  margin: 0 auto;
}

.results__title {
  margin: 0 0 64px;
  font-family: 'Roboto Slab';
  font-size: 40px;
  line-height: 46px;
  font-weight: 40;
  font-style: normal;
  color: #1A1B22;
}

.results__news {
  margin-bottom: 64px;
}