.savedNewsHeader {
  padding: 40px 0 54px;
}

.savedNewsHeader__container {
  max-width: 1232px;
  width: 100%;
  margin: 0 auto;
}

.savedNewsHeader__name {
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  color: rgba(26, 27, 34, 0.5);
  margin-bottom: 28px;
}

.savedNewsHeader__title {
  font-family: 'Roboto Slab';
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
  max-width: 530px;
  width: 100%;
  margin: 0 0 30px;
}

.savedNewsHeader__keywords {
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
}