.searchForm {
  border-radius: 100px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.searchForm__input {
  border: none;
  border-radius: 100px;
  max-width: 100%;
  width: 100%;
  margin: 0 40px 0 24px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
  color: #1A1B22;
  box-sizing: border-box;
}

.searchForm__input::placeholder {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
  color: #B6BCBF;
}

@media (max-width: 767px) {
  .searchForm {
    border-radius: 0;
    background: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
  }

  .searchForm__input {
    margin: 0;
    padding: 17px;
    margin-bottom: 16px;
  }
}